
.privacy-policy-container {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
    background-color: #0013c0; /* Set the background color */
    /* border-radius: 10px; Optional: add rounded corners */
}

.privacy-policy-content {
    flex: 3;
    background-color: #fff;
    padding-left: 90px;
    padding-top: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-policy-content h1 {
    color: #1600b9; /* Set a similar orange color */
    font-size: 2em;
    margin-bottom: 10px
}
